<head>
    <title>Gulp o Boza</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Awesome fonts icons-->
    <link href="assets/css/style.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/vendor/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
</head>