<picture>
    <source data-srcset="assets/images/boza.webp" type="image/webp">
    <source data-srcset="assets/images/boza.png" type="image/png">
    <img data-src="assets/images/boza.png" class="lazyload" alt="">
</picture>